.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    text-align: left;
    background-color: light-gray;
}

body {
    font-size: 18px;
}

.bold {
    color: rgb(63, 14, 95);
    font-weight: bold;
    text-align: right;
}

.italic {
    color: rgb(10, 88, 82);
    font-style: italic;
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.skills {
    text-align: right;
}

blockquote{
    font-size: 15px;
}

.pahr {
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
}

.noitalic {
    font-style: normal;
}

.align {
    text-align: right;
}

table {
    width: 800px;
    border-collapse: collapse;
}

.title {
    text-align: left;
    line-height: 100px;
    border: 1px solid brown;
    padding: 10px;
    background-color: rgb(9, 19, 41);
    color: white;
}

.list {
    border-top: 20px solid rgb(9, 19, 41);
    background-color: rgb(172, 194, 236);
}

.image {
    text-align: right;
    background-image: url("office.jpg")
}

td {
    padding: 20px;
}